$colorAzul:#3a4d78;
$azulOscuro:#172955;
$colorDorado:#EBC668;
$colorGris:#E5E5E5;
$fuente:'Montserrat', sans-serif;
$fuenteMediana:regular;
$fuenteBold:bold;
$fuenteItalic:italic;
$anchoTotal: 100%;
$gradiente1:linear-gradient(#151f35, #3a4d78);
$gradiente2:linear-gradient(#3a4d78, #151f35);
$sombraCard: 8px 0px 8px  #c7c4c4;
$bordeCard:12px;
$sombraInset:inset 5px 5px 12px  #d7dadd;
